In [1]:
## Import base packages we'll use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from seaborn import set_style
set_style("whitegrid")

In [2]:
## this imports BeautifulSoup from its package, bs4
import bs4
## First we import the BeautifulSoup object
from bs4 import BeautifulSoup

In [3]:
df = pd.read_csv("data/kc_house_data.csv")

zips = df.zipcode.value_counts().index

zips

Index([98103, 98038, 98115, 98052, 98117, 98042, 98034, 98118, 98023, 98006,
       98133, 98059, 98058, 98155, 98074, 98033, 98027, 98125, 98056, 98053,
       98001, 98075, 98126, 98092, 98144, 98106, 98116, 98029, 98004, 98199,
       98065, 98122, 98146, 98008, 98028, 98040, 98198, 98003, 98031, 98072,
       98168, 98112, 98055, 98107, 98136, 98178, 98030, 98177, 98166, 98022,
       98105, 98045, 98002, 98077, 98011, 98019, 98108, 98119, 98005, 98007,
       98188, 98032, 98014, 98070, 98109, 98102, 98010, 98024, 98148, 98039],
      dtype='int64', name='zipcode')

In [4]:
import requests

In [16]:
root = "https://crimegrade.org/safest-places-in-" ##we will create our urls by adding to this root url

url = root+str(zips[0])+"/" ## trying a random url to see if scraping works

url

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

response.status_code ##scraping fails

#table = soup.find_all('div', attrs={'class':'CrimeGradeSurround'})
#table

403

### Since scraping failed here, we manually look up https://crimegrade.org/crime-by-zip-code/ and input zipcode from zips. 

##### Select the statement that starts with :
*The rate of crime in ... is ... per 1,000 residents during a standard year*

In [18]:
crime_rate = [48.96, 19.77, 32.44, 39.11, 32.42, 22.17, 28.30, 44.52, 22.01, 31.76, 
             35.61, 23.30, 27.10, 43.47, 12.13, 30.27, 23.98, 39.83, 28.44, 11.98, 
             28.96, 16.14, 47.29, 23.99, 85.24, 59.03, 33.61, 24.48, 74.23, 31.02, 
             17.09, 73.12, 52.17, 28.51, 16.62, 25.18, 39.35, 51.17, 33.56, 32.12,
             94.01, 36.46, 31.48, 53.66, 27.10, 45.74, 64.47, 24.76, 45.65, 34.29,
             59.33, 38.00, 47.16, 14.78, 20.92, 20.14, 72.84, 45.15, 51.95, 26.44,
             173.6, 80.08, 20.29, 26.54, 72.98, 59.31, 44.85, 20.30, 58.76, 26.58]

In [33]:
crime_zip = pd.DataFrame({'Zipcode': zips,
             'ann_Crime_per_1000_res': crime_rate})

In [34]:
crime_zip.sample(10)

    Zipcode  ann_Crime_per_1000_res
44    98136                   27.10
57    98119                   45.15
68    98148                   58.76
64    98109                   72.98
11    98059                   23.30
29    98199                   31.02
48    98166                   45.65
37    98003                   51.17
4     98117                   32.42
43    98107                   53.66

In [35]:
crime_zip.to_csv("data/kc_crime_rate_zip.csv")